.main-container {
    width: 700px;
    height: 400px;
    background-color: black;
    position: relative;
}

.orange-box {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 153, 0);
}

.header {
    border-top: 5px solid black;
}

.footer {
    float: top;
    clear: both;
    border-bottom: 5px solid black;
}

.middle {
    height: 80%;
    width: 25%;
    float: left;
}

.red-box {
    background-color: red;
}

.green-box {
    background-color: green;
}

.blue-box {
    background-color: blue;
}

.black-box {
    background-color: black;
}